body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    background: url('../Src/Cover.jpg'); /* Add your background image here */
    background-size: cover;
    justify-content: center;
    align-items: center;
  }
  
  .container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: rgba(255, 255, 255, 0.2); /* Transparent background */
}

.form-container {
    background-color: rgba(255, 255, 255, 0.8); /* White background with 80% opacity */
    padding: 40px;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* Glass morphism effect */
  }
  
  h2 {
    text-align: center;
    margin-bottom: 20px;
  }
  
  form {
    display: flex;
    flex-direction: column;
  }
  
  input[type="text"],
  input[type="password"] {
    padding: 10px;
    margin-bottom: 20px;
    border: none;
    border-radius: 5px;
    background-color: rgba(255, 255, 255, 0.9); /* White background with 90% opacity */
  }
  
  button {
    padding: 10px;
    border: none;
    border-radius: 5px;
    background-color: #007bff;
    color: #fff;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  button:hover {
    background-color: #0056b3;
  }
  
  .extra-links {
    margin-top: 20px;
    display: flex;
    justify-content: space-between;
  }
  
  .extra-links a {
    color: #007bff;
    text-decoration: none;
  }
  
  .extra-links a:hover {
    text-decoration: underline;
  }
  