/* General Styling */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

body {
    background-color: #f7f7f7;
    overflow-y: auto;
    height: 100vh;
}

.container {
    display: flex;
    min-height: 100vh;
}

/* Sidebar */
.sidebar {
    width: 220px;
    background-color: #0d3b66;
    padding: 20px;
    position: sticky;
    top: 0;
}

.sidebar h1 {
    color: white;
    font-size: 1.8em;
    text-align: center;
    margin-bottom: 20px;
}

.sidebar ul {
    list-style: none;
}

.sidebar ul li {
    margin: 15px 0;
}

.sidebar ul li a {
    color: #fff;
    text-decoration: none;
    font-size: 1.2em;
    display: block;
    padding: 10px;
}

.sidebar ul li a:hover,
.sidebar ul li a.active {
    background-color: #f95738;
    border-radius: 4px;
    color: white;
}

/* Content Section */
.content {
    flex-grow: 1;
    padding: 20px;
    background-color: #eaeef3;
    overflow-y: auto;
}

.header {
    background-color: white;
    padding: 20px;
    margin-bottom: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.header h2 {
    margin-bottom: 15px;
    font-size: 1.6em;
}

.month-summary {
    display: flex;
    justify-content: space-around;
}

.summary-box {
    background-color: #f7f7f7;
    padding: 10px 20px;
    border-radius: 8px;
    width: 30%;
    text-align: center;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.summary-box h3 {
    margin-bottom: 10px;
    font-size: 1.2em;
    color: #444;
}

.summary-box p {
    font-size: 1.6em;
    font-weight: bold;
    color: #f95738;
}

/* Graph Section */
.graph-section {
    background-color: white;
    padding: 20px;
    margin-bottom: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.graph-section img {
    width: 100%;
    height: auto;
    margin-top: 20px;
}

/* Exam Report Section */
.exam-report {
    background-color: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.report-content p {
    font-size: 1.2em;
    color: #333;
}

.subject-report {
    margin-top: 20px;
}

.subject-report table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 20px;
}

.subject-report th, td {
    border: 1px solid #ccc;
    padding: 10px;
    text-align: left;
}

.subject-report th {
    background-color: #0d3b66;
    color: white;
}

.grade-graph img {
    width: 100%;
    height: auto;
    margin-top: 20px;
}
