

/* Main Container Styling */
.container {
    max-width: 48%;
    margin: 80px auto;
    background: #d7d7d78e;
    border-radius: 18px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
    overflow: hidden;
    justify-content: center;
    justify-items: center;
    text-align: center;
   
}

/* Profile Card Styling */
.card {
    position: relative;
    padding: 20px;
    border-radius: 12px;
    display: flex;
}

.colours {
    position: absolute;
    left: 50%;
    margin-left:-364px;
    width: 128px;
    opacity: 85%;
    border-radius: 12px 0px 0px 12px;
}

.profile-img-wrapper {
    flex: 1;
    margin-right: 30px;
    height: fit-content;
    width: fit-content;
}

.profile-img {
    width: 90px;
    height: 90px;
    border-radius: 50%;
    border: 2px solid #030303;
    background: #ccc;
}

.info {
    flex: 1;
}

.info h2 {
    font-size: 1.8em;
    margin-bottom: 10px;
}

.sub-info {
    font-weight: 700;
    word-spacing: 30px;
    color: #4c4c4c;
}

.faculty {
    background: #6470CA;
    color: white;
    font-weight: 700;
    padding: 8px 120px 8px 120px;
    letter-spacing: 1px;
    border-radius: 25px;
    margin-top: 10px;
    display: inline-block;
}

/* Button Styling */
.buttons {
    display: flex;
    gap: 10px;
    margin-top: 20px;
}

.btn {
    background: #FEC877;
    padding: 12px 20px;
    border-radius: 8px;
    border: 1px solid #000000;
    font-weight: bold;
    cursor: pointer;
    color: #444;
    text-align: center;
    flex: 1;
    transition: all 0.3s ease;
}

.btn:hover {
    background: #ffb23e;
    color: white;
}

/* Contact Info */
.contact-info {
    background: #97b7e0cc;
    padding: 10px 15px;
    border-radius: 8px;
    margin-top: 15px;
}

.contact-info p {
    margin: 5px 0;
    color: #fafafa;
    font-weight: bold;
}


.social-icons img {
    width: 24px;
    height: 24px;
    cursor: pointer;
}
