<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Resources</title>
    <link rel="stylesheet" href="../static/css/main.css">
    <link rel="stylesheet" href="../static/css/resources.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100..700;1,100..700&family=Noto+Sans:ital,wght@0,100..900;1,100..900&family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap" rel="stylesheet">
    <script src="../static/js/resources.js" defer></script>
</head>
<body>
    <br>
    <!-- Navbar -->
    <div class="navbar">

    </div>



    <!-- Second Navbar -->
    <div class="navbar_2">
        <div class="searchnav">
            <img class="logo" src="..\static\images\logo.png" alt="University Logo">
        <div class="search-bar"  >
            <input type="text" placeholder="Search" >
        </div>
        
        <div class="user-section">
            <img src="../static/images/notf.jpg" id="bell-icon" class="icon" alt="Notifications">
            <img src="../static/images/msg.jpg" id="envelope-icon" class="icon" alt="Messages">
            <img src="../static/images/profile.jpg" class="icon" alt="Profile">
        </div>
        </div>
        <div class="menu">
            <a href="{{ url_for('dashboard') }}">Dashboard</a>
            <a href="{{ url_for('analytics') }}">Analytics</a>
            <a href="{{ url_for('resources') }}">Resources</a>
            <a href="{{ url_for('fees') }}">Fees</a>
            <a href="{{ url_for('about') }}">About</a>
        </div>
    </div>

    <div class="container">
        <div class="container2">
        <section class="content">
            <div class="select-date">
                <label for="date">Date:</label>
                <input type="date" id="datePicker">
            </div>
            
            
            <div class="select-subject">
                <label for="subject">Select Subject:</label>
                <select id="subject">
                    <option value="subject">{{Resource.subject[0]}}</option>
                    <option value="subject">{{Resource.subject[1]}}</option>
                    <option value="subject">{{Resource.subject[2]}}</option>
                    <option value="subject">{{Resource.subject[3]}}</option>
                    <option value="subject">{{Resource.subject[4]}}</option>
                </select>
            </div>
            <h3> OR</h3>
            <form action="/upload" method="post" enctype="multipart/form-data">
                <input type="file" name="file">
                <button style="background: #31adff; box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1); font-size: 15px; padding: 10px 30px 10px 30px;" type="submit">Upload</button>
            </form>
        </div>

        <div class="container3">
            <div class="summary-notes-toggle">
                <button class="opts" id="summaryBtn">Summary</button>
                <button class="opts" id="notesBtn">Notes</button>
            </div>

               <div id="lectureSummary" class="content-box">
                <h3>{{Resource.chose}} Summary</h3>
                <p>{{Resource.summary}}</p>
            </div>

            <div id="lectureNotes" class="content-box hidden">
                <h3>{{Resource.chose}} Notes</h3>
                <table>
                    <tr>
                        <th>Sr No.</th>
                        <th>Name</th>
                        <th>Pdf Name</th>
                        <th>Likes</th>
                        <th>Views</th>
                    </tr>                   <tr>
                        <td>{{user.id}}</td>
                        <td>{{user.name}}</td>
                        <td>{{Resource.notes_url}}</td>
                        <td>{{Resource.likes}}</td>
                        <td>{{Resource.views}}</td>
                    </tr>
                    <tr>
                        <td>{{user.id}}</td>
                        <td>{{user.name}}</td>
                        <td>{{Resource.notes_url}}</td>
                        <td>{{Resource.likes}}</td>
                        <td>{{Resource.views}}</td>
                    </tr>
                    <tr>
                        <td>{{user.id}}</td>
                        <td>{{user.name}}</td>
                        <td>{{Resource.notes_url}}</td>
                        <td>{{Resource.likes}}</td>
                        <td>{{Resource.views}}</td>
                    </tr>
                    
                </table>
            </div>
        </div>
        </section>
    </div>
    </div>
    
    <script src="resources.js"></script>
</body>
</html>
